<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Cambio de Contraseña</title>
        
    </h:head>
    <h:body>
        Bievenido a PregunTIC
        
        <h:form id="formIndex">
            <p>Ingrese su correo: <h:inputText id="correo" value="#{actualizarContrasenaController.correo}"/></p>
            <p>Ingrese la contraseña enviada a su correo: <h:inputSecret id="contrasena" value="#{actualizarContrasenaController.contrasenaVieja}"/></p>
            <p>Ingrese su nueva contraseña: <h:inputSecret id="contrasena" value="#{actualizarContrasenaController.contrasenaNueva}"/></p>
            <p><h:commandButton id="ingreso" value="Actualiza contrasena" action="#{actualizarContrasenaController.actualizarContrasena}"/>  <h:commandButton id="registro" value="Registro" action="#{loginController.mandarRegistro}"/></p>
        </h:form>
        
       
    </h:body>
</html>

