<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>PregunTIC</title>
        
    </h:head>
    <h:body>
        Bievenido a PregunTIC
        
        <h:form id="formIndex">
            <p>Ingrese su carnet: <h:inputText id="usuarioCarnet" value="#{loginController.carnet}"/></p>
            <p>Ingrese su contrasena: <h:inputSecret id="contrasena" value="#{loginController.contrasena}"/></p>
            
            <p><h:commandButton id="ingreso" value="Ingresar al Sistema" action="#{loginController.ingresar}"/>  <h:commandButton id="registro" value="Registrarme" action="#{loginController.mandarRegistro}"/></p>
            </h:form>
        
            <h:form>
            <p><h:commandButton id="olvidarID" value="Olvido su contraseña?" action="#{enviarCorreoController.recuperarContrasena()}"/></p>
             <p><h:commandButton id="desbloqueoID" value="Desbloquear cuenta" action="#{enviarCorreoController.desbloqueoCuenta()}"/></p>
             
            </h:form>
        
    </h:body>
</html>

